@import"reset";
@import "vars";
@import "header";

html{  
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
#accueil{
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient($gradientColor1, $gradientColor2, $gradientColor3);
}
//Positionnement du main et aside
#accueil > main{
    width: 100vw;
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.4fr;

    > section{
        grid-column: 2 / 3;
    }    
    > aside{
        grid-column: 3 / 4;
    }
}

//Main
#accueil > main > section{
    background-color: white;
    padding: 20px;
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    row-gap: 20px;
    
    > h2{
        align-self: center;
        justify-self: center;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 20px 0;
    }
    
    > section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        
        > article{
            img{
                width: 100%;
            }
            h3{
                color: $gradientColor3;
                font-weight: bold;
                font-size: 1.4rem;
                margin: 10px 0;
            }
            h4{
                font-weight: lighter;
                font-size: 1.2rem;
            }
            p:first-of-type{
                margin: 20px 0;
            }
            p:last-of-type{
                margin: 20px 0 80px 0;
                font-weight: bold;
            }
        }
    }
}

//Aside
#accueil > main > aside{
    padding: 20px;
    color: white;
    
    h2{
        font-size: 1.6rem;
        margin-bottom: 40px;
    }
    > nav > h3{
        font-size: 1.4rem;
        margin: 20px 0;
    }
    > nav > ul > li{
            font-size: 1rem;
            margin: 10px 0;
    }
}